.cards {
  display: flex;
  flex-wrap: wrap;
}

.shackMedia {
  height: 500px;
  width: 100%;
}

.shackImg {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}

.shackCard {
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 7px;
}

.shackCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.shackDivider {
  height: 1px;
  background-color: rgb(204, 209, 217);
  position: relative;
  margin: 24px 0px;
}

.shackLoc {
  background-image: linear-gradient(
    to top,
    rgb(252, 240, 192) 0%,
    rgb(252, 240, 192) 8px,
    transparent 8px,
    transparent 100%
  );
  font-weight: bold;
}
